.logo {
    grid-area: brand;
  }
  .navbar-brand {
    margin-left: 1em;
  }
  .navbar-list {
    grid-area: list;
  }
  #cartLogo {
    width: 2em;
    height: auto;
    grid-area: cart;
  }

  #pill {
    position: absolute;
    top: 2px;
    right: 2px;
  }
  .navbar {
    display: grid;
    grid-template-columns: .1fr 1fr .035fr;
    grid-template-areas: "brand list cart";
  }

#header {
    background: url("/images/src/pregnant-mom.jpg") top/1000px ;
    padding-top: 104px;
}
.btn {
     background-color: white;
     color: black;
     padding: 10px 28px;
     border-radius: 28;
}
.btn:hover {
    background-color: aqua;
    color: black;
}

#about {
    background: rgba(128, 128, 128, 0.426);
    border-radius: 0.5rem;
}

#about img {
    width: 15em;
}

.checked {
    color: orange;
  }
